[build]
  base = "porto"
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_BASE_URL = "/.netlify/functions"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
